<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página Inicial</title>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style_index.css">

</head>

<body>
<div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
</div>

<div id="capa">
    <img src="/static/img/capa-portifolio.jpg" alt="Descrição da imagem">
</div>

<div id="subcapa">
    <img src="/static/img/img-perfil.png" alt="Descrição da imagem">
    <h2>Gustavo Allify</h2>
    <p>Analista de BI | Data Analytics | Data Science | Python Developer </p>
</div>

<body>
    <div class="container">
        <div id="sobre">
            <h2 class="sobre-title">SOBRE</h2>
            <p class="sobre-text">Eu sou um cientista de dados com experiência em análise de dados, machine learning e visualização de dados. Tenho habilidades em Python, R, SQL e ferramentas de visualização como Tableau e Power BI. Tenho paixão por transformar dados em insights acionáveis.</p>
        </div>
        <div id="certificacao">
            <h2 class="title">Habilidades</h2>
            <div class="wrapper">
                <div class="skillbar" data-percent="55%">
                    <div class="skillbar-title">Web Design</div>
                    <div class="skill-bar-percent">55%</div>
                    <div class="skillbar-bar" style="width: 55%;"></div>
                </div>
                <div class="skillbar" data-percent="80%">
                    <div class="skillbar-title">Development</div>
                    <div class="skill-bar-percent">80%</div>
                    <div class="skillbar-bar" style="width: 80%;"></div>
                </div>
                <div class="skillbar" data-percent="40%">
                    <div class="skillbar-title">Photography</div>
                    <div class="skill-bar-percent">40%</div>
                    <div class="skillbar-bar" style="width: 40%;"></div>
                </div>
                <div class="skillbar" data-percent="70%">
                    <div class="skillbar-title">Branding</div>
                    <div class="skill-bar-percent">70%</div>
                    <div class="skillbar-bar" style="width: 70%;"></div>
                </div>
                <div class="skillbar" data-percent="65%">
                    <div class="skillbar-title">Data Analysis</div>
                    <div class="skill-bar-percent">65%</div>
                    <div class="skillbar-bar" style="width: 65%;"></div>
                </div>
                <div class="skillbar" data-percent="90%">
                    <div class="skillbar-title">Machine Learning</div>
                    <div class="skill-bar-percent">90%</div>
                    <div class="skillbar-bar" style="width: 90%;"></div>
                </div>
                <div class="skillbar" data-percent="75%">
                    <div class="skillbar-title">Python</div>
                    <div class="skill-bar-percent">75%</div>
                    <div class="skillbar-bar" style="width: 75%;"></div>
                </div>
                <div class="skillbar" data-percent="50%">
                    <div class="skillbar-title">SQL</div>
                    <div class="skill-bar-percent">50%</div>
                    <div class="skillbar-bar" style="width: 50%;"></div>
                </div>
            </div>
        </div>
    </div>

    <section class="game-section">
        <h2 class="line-title">trending games</h2>
        <div class="owl-carousel custom-carousel owl-theme">
          <div class="item active" style="background-image: url(https://www.yudiz.com/codepen/expandable-animated-card-slider/dota-2.jpg);">
            <div class="item-desc">
              <h3>Dota 2</h3>
              <p>Dota 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
          <div class="item" style="background-image: url(https://www.yudiz.com/codepen/expandable-animated-card-slider/winter-3.jpg);">
            <div class="item-desc">
              <h3>The Witcher 3</h3>
              <p>The Witcher 3 is a multiplayer online battle arena by Valve. The game is a sequel to Defense
                of the Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
          <div class="item" style="background-image: url(https://www.yudiz.com/codepen/expandable-animated-card-slider/rdr-2.jpg);">
            <div class="item-desc">
              <h3>RDR 2</h3>
              <p>RDR 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
          <div class="item" style="background-image: url(https://www.yudiz.com/codepen/expandable-animated-card-slider/pubg.jpg);">
            <div class="item-desc">
              <h3>PUBG Mobile</h3>
              <p>PUBG 2 is a multiplayer online battle arena by Valve. The game is a sequel to Defense of the
                Ancients, which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
          <div class="item" style="background-image: url(https://www.yudiz.com/codepen/expandable-animated-card-slider/fortnite.jpg);">
            <div class="item-desc">
              <h3>Fortnite</h3>
              <p>Battle royale where 100 players fight to be the last person standing. which was a community-created mod
                for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
          <div class="item" style="background-image: url(https://www.yudiz.com/codepen/expandable-animated-card-slider/far-cry-5.jpg);">
            <div class="item-desc">
              <h3>Far Cry 5</h3>
              <p>Far Cry 5 is a 2018 first-person shooter game developed by Ubisoft.
                which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
            </div>
          </div>
        </div>
        </div>
      </section>
    

    <script src="/static/js/script_index.js"></script>
</body>


