<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página Inicial</title>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style_index.css">
</head>

<body>
<div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
</div>

<div id="capa">
    <img src="/static/img/capa-portifolio2.jpg" alt="Descrição da imagem">
</div>

<div id="subcapa">
    <img src="/static/img/icon_perfil.jpg" alt="Descrição da imagem">
    <h2>GUSTAVO ALLIFY</h2>
    <p>Analista de BI | Data Analytics | Data Science | Python Developer</p>
</div>

<div class="content-separator"></div>

<div class="informacoes">
    <div id="sobre">
        <h2 class="sobre-title">SOBRE</h2>
        <p class="sobre-text">Especializado em análise de dados, machine learning e visualização de dados. Com experiência em Python, SQL, JavaScript, html e ferramentas de visualização como Tableau e Power BI. Tenho uma missão de transformar dados complexos em insights que impulsionam decisões estratégicas.</p>    </div>
    <div id="certificacao">
        <h2 class="title">HABILIDADES</h2>
        <div class="wrapper">
            <div class="skillbar" data-percent="98%">
                <div class="skillbar-title">Python</div>
                <div class="skill-bar-percent">98%</div>
                <div class="skillbar-bar" style="width: 98%;"></div>
            </div>
            <div class="skillbar" data-percent="95%">
                <div class="skillbar-title">Power BI / Tableau</div>
                <div class="skill-bar-percent">95%</div>
                <div class="skillbar-bar" style="width: 95%;"></div>
            </div>
            <div class="skillbar" data-percent="85%">
                <div class="skillbar-title">SQL - RELATIONAL DATABASE</div>
                <div class="skill-bar-percent">85%</div>
                <div class="skillbar-bar" style="width: 85%;"></div>
            </div>
            <div class="skillbar" data-percent="90%">
                <div class="skillbar-title">BUSINESS KNOW HOW</div>
                <div class="skill-bar-percent">90%</div>
                <div class="skillbar-bar" style="width: 90%;"></div>
            </div>
            <div class="skillbar" data-percent="100%">
                <div class="skillbar-title">Data Analysis</div>
                <div class="skill-bar-percent">100%</div>
                <div class="skillbar-bar" style="width: 100%;"></div>
            </div>
            <div class="skillbar" data-percent="40%">
                <div class="skillbar-title">Machine Learning</div>
                <div class="skill-bar-percent">40%</div>
                <div class="skillbar-bar" style="width: 40%;"></div>
            </div>
            <div class="skillbar" data-percent="75%">
                <div class="skillbar-title">CLOUD - AWS / AZURE</div>
                <div class="skill-bar-percent">75%</div>
                <div class="skillbar-bar" style="width: 75%;"></div>
            </div>
            <div class="skillbar" data-percent="70%">
                <div class="skillbar-title">HTML / CSS / JAVASCRIPT</div>
                <div class="skill-bar-percent">70%</div>
                <div class="skillbar-bar" style="width: 70%;"></div>
            </div>
            <div class="skillbar" data-percent="45%">
              <div class="skillbar-title">BIG DATA ARCITECTURE</div>
              <div class="skill-bar-percent">45%</div>
              <div class="skillbar-bar" style="width: 45%;"></div>
          </div>
          <div class="skillbar" data-percent="70%">
            <div class="skillbar-title">LIDERANÇA E GESTÃO</div>
            <div class="skill-bar-percent">70%</div>
            <div class="skillbar-bar" style="width: 70%;"></div>
        </div>
        </div>
    </div>
</div>



<div class="informacoes">
  <div class="contato">
    <h2>INFORMAÇOES DE CONTATO</h2>
    <p><strong>Email:</strong> gustavoallify@gmail.com</p>
      <div class="icons">
          <a href="https://www.linkedin.com/in/gustavo-allify/" target="_blank">
              <img src="/static/img/icon_Linkedin.png" alt="LinkedIn">
          </a>
          <a href="https://github.com/JackCaolho" target="_blank">
              <img src="/static/img/icon_GitHub.png" alt="GitHub">
          </a>
          <a href="https://github.com/JackCaolho" target="_blank">
            <img src="/static/img/icon_whatsapp.png" alt="GitHub">
        </a>
      </div>
      <button onclick="window.location.href='curriculo.pdf'">Baixar Currículo</button>
  </div>
  <div class="experiencias">
    <h2>EXPERIENCIA PROFISSIONAL</h2>
      <div class="experiencia">
          <h3>LABORMESP</h3>
          <p><strong>Cargo:</strong>Analista de dados pleno </p>
          <p><strong>Tempo de Emprego:</strong> 6 MESES - ATUAL</p>
          <p><strong>Habilidades Usadas:</strong> 
            Desenvolvimento de dashboards para suporte à tomada de decisão utilizando PowerBI, com extração automatizada de dados via APIs, bancos de dados SQL e relatórios em Excel. Implementação de processos ETL (Extract, Transform, Load) empregando ferramentas em Python para extração e tratamento de dados. Criação e manutenção de bancos de dados relacionais, além da configuração e gerenciamento de servidores VPS (Virtual Private Server).</p>
      </div>
      <div class="experiencia">
          <h3>SWINT - INTELIGENCIA E INVESTIGAÇÃO</h3>
          <p><strong>Cargo:</strong>Analista de inteligencia / risco</p>
          <p><strong>Tempo de Emprego:</strong> 2 anos</p>
          <p><strong>Habilidades Usadas:</strong> Aplicação de análise crítica baseada em dados para prevenção de fraudes, utilizando técnicas avançadas de cruzamento de dados para triangulação de informações visando a identificação de fraudadores. Desenvolvimento de automações para diversos serviços rotineiros utilizando Python, além da manutenção e gerenciamento de bancos de dados SQL via API.</p>
      </div>
      <div class="experiencia">
          <h3>THREE LIVES restaurante</h3>
          <p><strong>Cargo:Gerente de restaurante</strong></p>
          <p><strong>Tempo de Emprego:</strong> 1 ano</p>
          <p><strong>Habilidades Usadas:</strong> Gerenciamento integral da parte administrativa da empresa, incluindo fornecedores, estoque, gestão financeira e controle de fluxos de caixa. Responsável pela apresentação dos resultados gerais, bem como pelos controles financeiros e administrativos.</p>
      </div>
  </div>
</div>




  <!-- Primeiro Container do Carrossel -->
  <div id="carousel-container-1" class="carousel-container">
    <h2>PROJETOS EM POWERBI</h2>
    <div id="carousel-1" class="carousel">
      <div class="carousel-item active">
        <div class="carousel-content">
          <div class="carousel-caption">
            <h3>ANÁLISE DE CLÍNICAS MÉDICAS</h3>
            <p>Este dashboard foi criado para fornecer uma análise detalhada do desempenho de diversas clínicas médicas ao longo do tempo. Ele permite:</p>
            <ul>
              <li>A comparação de desempenho entre as clínicas e também em relação aos mesmos períodos do ano anterior.</li>
              <li>Identificar crescimentos e prever volumes futuros para os próximos meses.</li>
              <li>Compreender os tipos de demanda mais comuns.</li>
              <li>Identificar os horários de pico de funcionamento.</li>
            </ul>
          </div>
          <div class="dashboard">
            <iframe title="Agendamento" width="900" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiZGIxYmM4NzUtNWNmMi00NDY2LThkZTYtMzA0NDU4NzM3M2ZkIiwidCI6Ijc0OTk0ZWJmLTcwOGYtNDFhZS04ZmQxLWNmMzUyYmE5OTEzNSJ9" frameborder="0" allowFullScreen="true"></iframe>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-content">
          <iframe title="BI_Challenge" width="900" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiMmY2OGNmM2EtZDQ2Ny00NGE2LWJlYTAtZmE1YTgyYTllNDU2IiwidCI6Ijc0OTk0ZWJmLTcwOGYtNDFhZS04ZmQxLWNmMzUyYmE5OTEzNSJ9" frameborder="0" allowFullScreen="true"></iframe>
          <div class="carousel-caption">
            <h3>ANÁLISE DE NPL EMPRESARIAL</h3>
            <p>Este dashboard foi criado para fornecer uma análise detalhada das avaliações NPL (Net Promoter Score) da empresa ao longo do tempo. Ele permite:</p>
            <ul>
              <li>Identificar tendências de crescimento e prever volumes futuros de feedbacks para os próximos meses.</li>
              <li>Compreender os tipos de feedbacks mais comuns e suas respectivas categorias.</li>
              <li>Identificar os principais fatores que influenciam as notas, tanto positivas quanto negativas.</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-content">
          <img src="/static/img/ds4.png" alt="Projeto 4">
          <div class="carousel-caption">
            <h3>Título do Projeto 4</h3>
            <p>Descrição do Projeto 4.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-nav">
      <button id="prevBtn-1">Anterior</button>
      <button id="nextBtn-1">Próximo</button>
    </div>
  </div>

  <!-- Segundo Container do Carrossel -->
  <div id="carousel-container-2" class="carousel-container">
    <h2>OUTROS PROJETOS</h2>
    <div id="carousel-2" class="carousel">
      <div class="carousel-item active">
        <div class="carousel-content">
          <iframe title="Projeto_2_Indicadores" width="800" height="500" src="https://app.powerbi.com/view?r=eyJrIjoiZWU0ZDM4ODMtZDE0Yy00MWNmLWI1YmItYWJjNDA4NGNlNDljIiwidCI6ImJlOTFjYzQ1LTY3OGYtNDQ0NC1hOTIwLTg2NDMwOWNhOTc0NSJ9" frameborder="0" allowFullScreen="true"></iframe>
          <div class="carousel-caption">
            <h3>Análise de Dados de Outro Projeto</h3>
            <p>Este dashboard foi criado para fornecer uma análise detalhada de
              outro projeto ao longo do tempo. Ele permite a comparação de desempenho entre os projetos e também em relação aos mesmos 
              períodos do ano anterior.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-content">
          <img src="/static/img/other1.png" alt="Projeto 5">
          <div class="carousel-caption">
            <h3>Análise de Dados do Projeto 5</h3>
            <p>Descrição do Projeto 5.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-content">
          <img src="/static/img/other2.png" alt="Projeto 6">
          <div class="carousel-caption">
            <h3>Título do Projeto 6</h3>
            <p>Descrição do Projeto 6.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-nav">
      <button id="prevBtn-2">Anterior</button>
      <button id="nextBtn-2">Próximo</button>
    </div>
  </div>


<script src="/static/js/script_index.js"></script>
</body>
</html>
