<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página Inicial</title>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style_index.css">
</head>

<body>
<div id="large-header" class="large-header">
    <canvas id="demo-canvas"></canvas>
</div>

<div id="capa">
    <img src="/static/img/capa-portifolio.jpg" alt="Descrição da imagem">
</div>

<div id="subcapa">
    <img src="/static/img/img-perfil.png" alt="Descrição da imagem">
    <h2>Gustavo Allify</h2>
    <p>Analista de BI | Data Analytics | Data Science | Python Developer</p>
</div>

<div class="container">
    <div id="sobre">
        <h2 class="sobre-title">SOBRE</h2>
        <p class="sobre-text">Eu sou um cientista de dados com experiência em análise de dados, machine learning e visualização de dados. Tenho habilidades em Python, R, SQL e ferramentas de visualização como Tableau e Power BI. Tenho paixão por transformar dados em insights acionáveis.</p>
    </div>
    <div id="certificacao">
        <h2 class="title">Habilidades</h2>
        <div class="wrapper">
            <div class="skillbar" data-percent="55%">
                <div class="skillbar-title">Web Design</div>
                <div class="skill-bar-percent">55%</div>
                <div class="skillbar-bar" style="width: 55%;"></div>
            </div>
            <div class="skillbar" data-percent="80%">
                <div class="skillbar-title">Development</div>
                <div class="skill-bar-percent">80%</div>
                <div class="skillbar-bar" style="width: 80%;"></div>
            </div>
            <div class="skillbar" data-percent="40%">
                <div class="skillbar-title">Photography</div>
                <div class="skill-bar-percent">40%</div>
                <div class="skillbar-bar" style="width: 40%;"></div>
            </div>
            <div class="skillbar" data-percent="70%">
                <div class="skillbar-title">Branding</div>
                <div class="skill-bar-percent">70%</div>
                <div class="skillbar-bar" style="width: 70%;"></div>
            </div>
            <div class="skillbar" data-percent="65%">
                <div class="skillbar-title">Data Analysis</div>
                <div class="skill-bar-percent">65%</div>
                <div class="skillbar-bar" style="width: 65%;"></div>
            </div>
            <div class="skillbar" data-percent="90%">
                <div class="skillbar-title">Machine Learning</div>
                <div class="skill-bar-percent">90%</div>
                <div class="skillbar-bar" style="width: 90%;"></div>
            </div>
            <div class="skillbar" data-percent="75%">
                <div class="skillbar-title">Python</div>
                <div class="skill-bar-percent">75%</div>
                <div class="skillbar-bar" style="width: 75%;"></div>
            </div>
            <div class="skillbar" data-percent="50%">
                <div class="skillbar-title">SQL</div>
                <div class="skill-bar-percent">50%</div>
                <div class="skillbar-bar" style="width: 50%;"></div>
            </div>
        </div>
    </div>
</div>

<!-- Container do Carrossel -->
<div class="carousel-container">
  <h2>Projetos</h2>
  <div class="carousel">
      <div class="carousel-item">
          <div class="carousel-content">
              <img src="/static/img/ds1.png" alt="Projeto 1">
              <div class="carousel-caption">
                <h3>Análise de Dados de Clínicas Médicas</h3>
                <p>Este dashboard foi criado para fornecer uma análise detalhada do
                  desempenho de diversas clínicas médicas ao longo do tempo. Ele permite
                   a comparação de desempenho entre as clínicas e também em relação aos mesmos 
                   períodos do ano anterior. Dessa forma, é possível identificar crescimentos e 
                   prever volumes futuros para os próximos meses. Além disso, o dashboard
                    é uma ferramenta útil para compreender os tipos de demanda mais comuns e 
                    identificar os horários de pico de funcionamento.</p>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="carousel-content">
              <img src="/static/img/ds2.png" alt="Projeto 2">
              <div class="carousel-caption">
                <h3>Análise de Dados de Clínicas Médicas</h3>
                <p>Este dashboard foi criado para fornecer uma análise detalhada do
                  desempenho de diversas clínicas médicas ao longo do tempo. Ele permite
                   a comparação de desempenho entre as clínicas e também em relação aos mesmos 
                   períodos do ano anterior. Dessa forma, é possível identificar crescimentos e 
                   prever volumes futuros para os próximos meses. Além disso, o dashboard
                    é uma ferramenta útil para compreender os tipos de demanda mais comuns e 
                    identificar os horários de pico de funcionamento.</p>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="carousel-content">
              <img src="/static/img/ds3.png" alt="Projeto 3">
              <div class="carousel-caption">
                <h3>Análise de Dados do Setor de Despachante</h3>
                <p>Este visual foi projetado para organizar e agrupar de maneira eficiente 
                  os dados do setor de despachante. O painel, altamente interativo e conectado 
                  em tempo real aos casos, permite um monitoramento abrangente de todas as ocorrências. 
                  É possível acompanhar a taxa de sucesso com base nas regras de negócio específicas, 
                  visualizar a localização dos casos por cidade e analisar o volume de demanda recebida 
                  ao longo dos dias. Esse painel é uma ferramenta essencial para otimizar a gestão de casos, 
                  permitindo tomadas de decisão mais rápidas e informadas, além de facilitar a identificação 
                  de tendências e padrões operacionais.</p>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="carousel-content">
              <img src="/static/img/ds4.png" alt="Projeto 4">
              <div class="carousel-caption">
                  <h3>Título do Projeto 4</h3>
                  <p>Descrição do Projeto 4.</p>
              </div>
          </div>
      </div>
      <button class="carousel-prev">&lt;</button>
      <button class="carousel-next">&gt;</button>
  </div>
</div>

<div class="carousel-container">
  <h2>Projetos</h2>
  <div class="carousel">
      <div class="carousel-item">
          <div class="carousel-content">
              <img src="/static/img/ds1.png" alt="Projeto 1">
              <div class="carousel-caption">
                  <h3>Dados por clinica</h3>
                  <p>Descrição do Projeto 1.</p>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="carousel-content">
              <img src="/static/img/ds2.png" alt="Projeto 2">
              <div class="carousel-caption">
                  <h3>Título do Projeto 2</h3>
                  <p>Descrição do Projeto 2.</p>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="carousel-content">
              <img src="/static/img/ds3.png" alt="Projeto 3">
              <div class="carousel-caption">
                  <h3>Título do Projeto 3</h3>
                  <p>Descrição do Projeto 3.</p>
              </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="carousel-content">
              <img src="/static/img/ds4.png" alt="Projeto 4">
              <div class="carousel-caption">
                  <h3>Título do Projeto 4</h3>
                  <p>Descrição do Projeto 4.</p>
              </div>
          </div>
      </div>
      <button class="carousel-prev">&lt;</button>
      <button class="carousel-next">&gt;</button>
  </div>
</div>

<script src="/static/js/script_index.js"></script>
</body>
</html>
